@charset "utf-8";
/*! Fonts */
.title {
 font-family: 'Arvo', serif;
}
.subtitle {
	font-family: 'Spectral SC', serif;
}
.sub {
  font-family: 'Spectral', serif;
  padding-bottom: 0.5em;
}
.subtitle-body {
  padding-left:2em;
  padding-top: 2em;
}
.body-text {
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'product_sansregular';
}
.site-content {
    width: 50%;
}
/*! /Fonts */
.logo-top {
	width: 100%;

}
.lime {
	color: #9cff00;
}
.nav-color {
	background-color: #1C263C;
}
.white {
	color: #FFFFFF;
}
.vl {
    border-left: 2px solid grey;
    height: 70%;
    position: absolute;

}
.a:hover {
  color: #00000;
  border-color: #000000;
}
.footer {
  position: absolute;
  margin-bottom: 0.3em;
  background-color: light gray;
  width: 100%;
    padding-top: 15em;
}
.barcode {
  font-family: 'Libre Barcode 39 Text', cursive;
}
/*! FONTS */
@font-face {
    font-family: 'product_sansregular';
    src: url('fonts/product_sans_regular-webfont.eot');
    src: url('fonts/product_sans_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/product_sans_regular-webfont.woff2') format('woff2'),
         url('fonts/product_sans_regular-webfont.woff') format('woff'),
         url('fonts/product_sans_regular-webfont.svg#product_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_sansitalic';
    src: url('fonts/product_sans_italic-webfont.eot');
    src: url('fonts/product_sans_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/product_sans_italic-webfont.woff2') format('woff2'),
         url('fonts/product_sans_italic-webfont.woff') format('woff'),
         url('fonts/product_sans_italic-webfont.svg#product_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_sansbold';
    src: url('fonts/product_sans_bold-webfont.eot');
    src: url('fonts/product_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/product_sans_bold-webfont.woff2') format('woff2'),
         url('fonts/product_sans_bold-webfont.woff') format('woff'),
         url('fonts/product_sans_bold-webfont.svg#product_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_sansbold_italic';
    src: url('fonts/product_sans_bold_italic-webfont.eot');
    src: url('fonts/product_sans_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/product_sans_bold_italic-webfont.woff2') format('woff2'),
         url('fonts/product_sans_bold_italic-webfont.woff') format('woff'),
         url('fonts/product_sans_bold_italic-webfont.svg#product_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}