.title {
    font-family: 'Raleway', sans-serif;
}

.sub {
    font-family: 'Open Sans', sans-serif;
}

.text {
    font-family: 'IBM Plex Sans', sans-serif;
}

.lime {
    text-decoration-color: '#57ff60';
}

.top-bg-green-em{
  padding-top:2em;
  padding-bottom:4em;
  padding-left:3%;
  background-color:#57ff60;
}

.subject-selector{
    padding:2em;
  background-color: #57ff60;
  float:left;
}

.section-welcome {
    padding-left: '5em';
}
.main-content{
  padding:7%;
}

.school-subjects{
  margin-bottom:5%;
  padding-top:10%;
}

.subject-selector{
    width:40%;
}

.subject-selector-nav{
  padding-top:10%;
}
.class-link{
  padding: 0.5em;
  font-family: 'Raleway', sans-serif;
  font-size:1em;
}
  
  
.class-item{
  list-style-type: none;
  padding: 0.5em;
}
.subject-boxes{
  padding:2em;
  
}
.footer{
  clear: both;
}