/* Styles for ABOUT.HTML ONLY */

/* POSTIONING */

/* ELEMETNS */
.a-left{
    float: left;
    left:0;    
}
.a-right{
    float: right;
}
.a-img{
    width: 30%;
    padding: 10px;
    box-shadow: 10px 10px 30px;
}

/* TEXT STYLING */
.a-txt{
    text-align: center;
}