/* Fonts */

.title{
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
}

.big{
	font-size: 5em;
}
.lime{
	color: #57ff60;
}
.back_w{
	background-color: #fff;
}
.text_w{
	color: #fff
}



/* Navigation */
nav{
	background-color: #57ff60;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding-top: 20px;
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 20px;
	text-decoration: none;
}

.nav a:hover {
    background: #ddd;
    color: black;
}



/* Main content */
.main {
	margin-top: 95px;
	width: 100%;
}
.bag_g{
	background-color: #57ff60;
}



/* Positioning (pos_xy) in em */
.lock_left{
	left: 0;
}
.lock_right{
	right: 0;
}
.pos_l1{
	margin-left: 1em;
}
.pos_l2{
	margin-left: 2em;
}
.pos_l3{
	margin-left: 3em;
}
.pos_l4{
	margin-left: 4em;
}

/* Padding (mag_xy) in em */

.pad_l1{
	padding-left: 1em;
}
.pad_l2{
	padding-left: 2em;
}
.pad_l3{
	padding-left: 3em;
}
.pad_l4{
	padding-left: 4em;
}


.pad_t1{
	padding-top: 1em;
}
.pad_t2{
	padding-top: 2em;
}
.pad_t3{
	padding-top: 3em;
}
.pad_t4{
	padding-top: 4em;
}


.pad_d1{
	padding-bottom: 1em;
}
.pad_d2{
	padding-bottom: 2em;
}
.pad_d3{
	padding-bottom: 3em;
}
.pad_d4{
	padding-bottom: 4em;
}


.pad_r1{
	padding-right: 1em;
}
.pad_r2{
	padding-right: 2em;
}
.pad_r3{
	padding-right: 3em;
}
.pad_r4{
	padding-right: 4em;
}

/* Special a */
.pad_a0-3{
	padding: 0.3em;
}
/* End Special */

.pad_a1{
	padding: 1em;
}
.pad_a2{
	padding: 2em;
}
.pad_a3{
	padding: 3em;
}
.pad_a4{
	padding: 4em;
}