html {}

body {
    margin: 0;
}

.loader {}

/* Navigation */
.nav-container-branding {
    position: fixed;
    z-index: 2;
    left: 0;
    margin: 1.5em 0 0 2em;
}

.nav-container-toggle {
    position: fixed;
    z-index: 2;
    right: 0;
    margin: 1.5em 2em 0 0;
}

.nav-container-navigation {
    
}
