html {
}

body {
    margin: 0;
}

.loader {
}

/* Navigation */
.nav-container-branding {
    position: fixed;
    z-index: 2;
    left: 0;
    margin: 1.5em 0 0 2em;
}

.branding-img {
    width: 3em;
    height: 3em;
}

.nav-container-toggle {
    position: fixed;
    z-index: 2;
    right: 0;
    margin: 1.5em 2em 0 0;
}

.nav-toggle {
    height: 3.5em;
    width: 3.5em;
    padding: 0;
}

.nav-container-navigation {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background: #ffffff;
    overflow: hidden;
    display: none;
}

.nav-navigation {
    margin: 5em 2em 0 2em;
}

.nav-navigation-title {
    font-size: 2em;
}

.nav-navigation-list {
    list-style: none;
    padding: 0;
}

.nav-list-item {
    margin: 1em 0;
}

.nav-list-link {
}

.nav-item-active {
}

/* Header */
header {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-video {
    position: fixed;
    z-index: -3;
    width: auto;
    height: 100%;
}

/*
If Aspect Ratio is 16/9 or higher, swap. Depends on video being 16/9
*/
@media (min-aspect-ratio: 16/9) {
    .header-video {
        width: 100%;
        height: auto;
    }
}

.header-content-wrapper {
    text-align: center;
    color: #ffffff;
    width: 90%;
}

.header-title {
    margin: 1em 0;
}

.header-sub {
    
}

/* Main */
main {
    z-index: 0;
    background-color: #ffffff;
    padding: 1em;
}
.section {
    
}

.section-title {
    
}

.about {
    
}

.services {
    
}

.staff {
    
}

.staff-container {
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
}

.staff-container div {
    display: inline-block;
    margin: 1em;
}

.staff-photo {
    border-radius: 50%;
}

.staff-name{
    font-weight: 600;
    font-size: 1.1em;
    margin: 0.5em;
}

.staff-jobtitle {
    font-style: italic;
    font-size: 0.9em;
    color: #525252;
    margin: 0;
}


/* Footer */
footer {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.66);
}

.footer-container-maps {
    display: none;
}

.footer-text {
    padding: 1em;
}

.footer-title {
    font-size: 1.7em;
}

.limegorilla-iframe {
    width: 100%;
    border: none;
    height: 15vh;
}
