/*

   /// FONTS ///

000000000000000000000
00 TypeKit (Adobe) 00
000000000000000000000

font-family: gilbert,sans-serif;
font-weight: 700;
font-style: normal;
-0-
font-family: azo-sans-web,sans-serif;
font-weight: 900,700,400;
font-style: normal;
-0-
font-family: anonymous-pro, monospace;
font-weight: 400, 700;
font-style: normal, italic;

000000000000000000
00 Google Fonts 00
000000000000000000

font-family: 'Sen', sans-serif;
font-weight: 400, 700;
font-style: normal;
*/

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
    font-weight: 400, 700;
    font-style: normal;
}

/* Branding */
.branding-lime-type {
    font-family: gilbert, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    text-decoration-line: none;
}

/* TYPE COLOUR */
.lime {
    color: #57FF60;
}



/* main */

.main-sidebar {
    top: 0;
    bottom: 0;
}

@media screen and (min-width: 800px) {
    .main-sidebar {
        position: absolute;
        width: 20em;
        border-right: solid #fff;
    }
}

.main-header-pad {
    padding: 1.5em 0 0 1.5em;
}

@media screen and (min-width: 800px) {
    .main-header-pad {
        padding: 3em 0 0 1.5em;
    }
}

.main-header-image {
    width: 7em;
}

.main-header-welcome {
    font-family: gilbert, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
}

.main-header-logotext {
    font-size: 2em;
}

/* NAV */
nav {
    padding: 0 0 1em 0.5em;
}

@media screen and (min-width: 800px) {
    nav {
        padding: 1.2em 0 1em 0.5em;
    }

}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item {
    padding: 1em;
}

.nav-link {
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    color: #57ff60;
    text-decoration: underline;
    text-decoration-color: #fff;
}

/* FOOTER */

footer {
    padding: 1em;
    bottom: 0;
}

@media screen and (min-width: 800px) {
    footer {
        position: fixed;
    }
}

.footer-left {
    float: left;
}

.footer-links {
    display: block;
    font-family: anonymous-pro, monospace;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    text-decoration: none;
}

.footer-links:hover {
    text-decoration: underline;
}

.footer-right {
    float: right;
}

.footer-logo-link {
    font-size: 2em;
}
