/*

THIS SITE IS UNDER DEVELOPMENT. UNTIL SUCH TIME THAT WORK IS COMPLETED ON
THIS SITE, EACH EDIT MUST CONTAIN COMPLETE DOCUMENTATION AND MARKOUTS. NO
CODE MAY BE DELETED, ONLY STRUCK OUT. EACH NEW SECTION OF CODE MUST BE
DATED AND TITLED.


Liam Doyle .CO
---
This is an uncomplete version of
LiamDoyle.CO and is not ready to
release. This is version v.0.1

---

Version = v0.1
Release Date = 25-6-18
Codename = NetDuma
Site revision = 4
DocName = global.css
Location = /assets/
Last edit = 25-6-18
Created on = 25-6-18
Special docs = N/A
Type = Desktop

---

This is the GLOBAL styles for the entire website.
They will, however, be overridden by doc-specific
styles such as *index.css* which overrides this
stylesheet with the *index.html* page

---

This site, it's code (unless specified)
and contents, such as video, imagery, text
and sound is property of Liam H. Doyle, 2018.
All rights reserved.

*/



/* @Media Queries */
@media (min-width: 768px) {
  .nav  { display: block; }
}


html{
}

a{
    text-decoration: none;
    color: black;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition:.7s;
}
a:hover{
    background-color: blue;
    color: white;
}
.f-lft{
    float: left;
    width: 49%;
}
.f-rht{
    float: right;
}
.social-img{
    width: 10%;
}
/* Fonts */
.title {
    font-family: nexa_bold;
    font-size: 5em;
}

.s-title {
    font-family: nexa_bold;
}

.text {
    font-family: nexa_light;
}
/* Navigation */
.nav{
    background-color: white;
    bottom: 0;
    top: 0;
    left: 0;
	position: fixed;
	overflow: auto;
    width: 30%;
}
.nav-title{
    padding-left: 15%;
    padding-top: 20%;
    font-size: 1.5em;
}
.links{
    font-family: 'Work Sans', sans-serif;
		font-weight: 400;
    padding-left: 10%
}
.list-item{
    padding-top: 10%;
    padding-bottom: 10%;
    list-style: none;
}
.n-title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
/* Content */
.content{
    margin-left: 30%;
    right: 0;
}
.footer{
    background-color: white;
    position: absolute;
    right: 0;
    width: 100%;
}
.footer-container{
    padding:2em;
}

