/* General */

body {
    margin: 0;
    font-family: sans-serif;
}

.title-large {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-family: nexa_bold;
}

/* Navigation */

.topnav {
    position: fixed;
    top: 0;
    background-color: blue;
    width: 100%;
    text-align: center;
    color: white;
    font-family: nexa_light;
}

nav {
    position: fixed;
    bottom: 0;
    background-color: darkslategrey;
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
}

nav,
ul,
a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: nexa_bold;
    font-size: 20px;
}

.nav-item {
    float: left;
}

.item-nav {
    padding-right: 1em;
}

.content-wrapper {
    margin-top: 100px;
    margin-bottom: 1em;
}

/* Footer */

footer {
    background-color: #2d3d56;
    color: white;
    text-align: center;
    padding: 2em;
}
