/* Navigation */

.navigation {
    background-color: #5271ff;
    padding: 0.01em;
}

.nav-left {
    padding-left: 20px
}

.nav-title {
    color: #fff;
    font-family: nexa_light;
}

/* Footer */

.foot {
    background-color: #303742;
    bottom: 0;
    color: #fff;
    font-family: Montserrat;
    text-align: center;
    padding: 1em;
}
