.nav0list{
    display: none;
}

/* Global */
body {
    padding: 0;
    margin: 0;
        font-family: Raleway;
}

ul {
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
}
.sub{
}
.txt{
}

/* fonts */
@font-face {
    font-family: 'sofia-light';
    src: url('fonts/sofiapro-light-webfont.woff2') format('woff2'),
        url('fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa-bold';
    src: url('fonts/Nexa_Free_Bold-webfont.woff2') format('woff2'),
        url('fonts/Nexa_Free_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* nav */
nav{
    width: 100%;
    top: 0;
    margin: 0 auto;
    position: absolute;
    font-family: nexa-bold;
    background-color: ;
}
.navholder{
    padding: 0 20px;
}
.title{
    float: left;
    display: block;
}
.title-txt{
    font-family: nexa-bold;
}
.nav0list{
    float: right;
    padding: 0.5em 1em;
}
.nav0item{
    display: inline;
    padding: 0 0.5em 0 0.5em;
}
.nav a{
    color: black;
}

/* Content */
.content{
    margin: 6em 1em 0;
}
.s1{
    padding-bottom: 4em;
}
.txt-s1{
    font-family: sofia-light;
    color: #FF0080;
}
.s2{
    display: inline-block;
    width: 100%;
}
.txt-s2{
    font-family: sofia-light;
    color: ;
    
    
}
.s2box{

}
/* footer */
footer{
    padding: 1em;
    background-color: darkslategrey;
    display: block;
    height: 17em;
    border-top: solid;
    border-top-width: 10px;
    border-top-color: lightgrey;
    overflow: hidden;
}
.footer-logo{
    text-align: center;
}
.footer-lft{
    float: left;
}
footer a{
    color: white;
    font-family: nexa-bold;
}
.footer-rht{
    float: right;
        color: white;
    font-family: nexa-bold;
    text-align: right;
    width: 60%
}

/* misc */
.lime {
    color: lawngreen
}
.black{
    color: black
}
.white{
    color: white
}
