/* Content */
.content {
    margin: 0 auto;
    padding: 0 1em;
}
.s1 {
    font-size: 3em;
    width: 70%;
    font-family: sofia-light;
    color: #FF0080
}
/* Footer */
.footer {
    background-color: lightcyan;
    padding: 2em;
}
.f-right{
    float: none;
}
.f-left{
    float: none;
}
.mo-f-mid{
    text-align: center;
    width: 100%;
}

.footer-bottom {
    text-align: center;
    clear: both;
    padding: 1em;
}

.footer-item {
    padding: 1em;
}

.mo-fo-b{
    font-size: 10px;
    text-align: center;
}