/* Global */
html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: Raleway;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: none;
}

.iframe-1{
    height: 100%;
    width: 100%;
}

.sub {
    font-family: nexa-bold;
    text-decoration: underline;
    text-decoration-color: #c4fcc9;;
}

.clearme {
    clear: both;
}
.p-3em{
    padding: 3em;
}

.p-5em{
    padding: 5em;
}

.txt {
    font-size: 1.2em;
}

.lime {
    color: #57ff60;
}

.inline-item {
    display: inline;
}

.title {
    font-family: nexa-bold;
}

.quote {
    font-family: nexa-bold;
    padding: 0.5em;
    width: 40%
}

.display-inline {
    display: inline-block;
}

.left {
    float: left;
    display: block;
}

.right {
    float: right;
    display: block;
    text-align: right;
}

.mod-50 {
    width: 50%;
}

.mod-al-ver {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.arrow-right {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-up {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-down {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* fonts */


@font-face {
    font-family: 'acherus-grotesque';
    src: url('fonts/acherusgrotesque-regular-webfont.eot');
    src: url('fonts/acherusgrotesque-regular-webfont.eot#iefix') format('embedded-opentype'),
        url('fonts/acherusgrotesque-regular-webfont.woff2') format('woff2'),
        url('fonts/acherusgrotesque-regular-webfont.woff') format('woff'),
        url('fonts/acherusgrotesque-regular-webfont.ttf') format('truetype'),
        url('fonts/acherusgrotesque-regular-webfont.svg#acherus_grotesque') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-bold';
    src: url('fonts/Nexa_Free_Bold-webfont.eot');
    src: url('fonts/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Nexa_Free_Bold-webfont.woff2') format('woff2'),
        url('fonts/Nexa_Free_Bold-webfont.woff') format('woff'),
        url('fonts/Nexa_Free_Bold-webfont.ttf') format('truetype'),
        url('fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Loader */
.loader {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Navbar */
.c-nav {
    font-family: nexa-bold;
    background-color: #fff;
}

.navlink {
    font-family: Montserrat;
    text-rendering: optimizeLegibility;
}

/* Navbar Hamburger Icon styling */
.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Collapsed content */
.social-overlay {
    padding-top: 2em;
}

/* Content */
.content {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 3em;
}

#top {
    padding: 3em;
}

.s-title {
    padding-bottom: 4em;
}

.s1 {
    font-size: 5em;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    color: #FF0080
}

.s-2 {}

.s-2-txt {}

/* footer */
.go-top {
    text-align: center;
    background-color: lightgrey;
}

.footer {
    background-color: #c4fcc9;
    padding: 4em 4em 1em;
}

.footer-bottom {
    text-align: center;
    clear: both;
    padding: 1em 0 0 0;
}

.footer-item {
    padding: 1em;
}


.footer-box {
    display:
}

.f-left {
    float: left;
}

.f-right {
    float: right;
    text-align: right;
}

/* Courusel */
.mod-caro {
    width: 40%;
    float: left;
    margin: 2em 0;
}

/* loader */
.bs-green {
    background-color: #57ff60 !important
}

a.bs-green:focus,
a.b-greens:hover,
button.bs-green:focus,
button.bs-green:hover {
    background-color: #57ff60 !important
}

/* Index Only */
.ind-caro {
    display: flex;
}

.center-outer {
    position: relative;
    width: 500px;
    height: 500px;
}

.center-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 200px;
}
#discord-widget .widget-header {
    background-color: #57ff60 !important;
}
.row {
  margin: 0 auto;
  text-align: center;
}
.sitemap-1 {
  margin: 0 auto;
  display: inline-block;
}
.sitemap-2 {
  margin: 0 auto;
  display: inline-block;
}
.sitemap-3 {
  margin: 0 auto;
  display: inline-block;
}