@charset "utf-8";
.logotop{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 4em;
	font-family: 'Arvo';
	background-color: rgba(221,221,221,1.00);
}
.barcode{
	font-family: 'Libre Barcode 39 Text', cursive;
}	

	
.title{
	font-family: 'Arvo';
}
.sub {
	font-family: 'Poppins';
}
p{
	font-family: 'Dosis';
}
.lime{
	color: lime;
}
.top{
	background-color: #FFFFFF;
}
.left {
	float: left;
	margin-left: 15%;
	margin-right: 15%;
	padding-right: 2em;
	padding-left: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: rgba(206,206,206,1.00);
}
.small {
	font-size: x-small;
}


big {
	font-size: xx-large;
}
a {
  color: black;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
	text-decoration: none
}
a:hover { color:lime; text-decoration: none; }
.underlogo {
	margin-top: 4em;
	text-decoration: none
}
.white {
	color: #FFFFFF;
}
.toptitle {
	padding-bottom: 1em;
}

.dark {
    background-color: lightgrey

}.maintxt {
	margin-right: 2em;
	margin-left: 2em;
}
